<div class="WMBOS loading">
    <div @ref="WMBOSReference" class="WMBOS-content @CssClass">
        @BlazorOverlayScrollbarsContent
    </div>
    @if (BlazorOverlayScrollbarsLoading == null)
    {
        <div class="WMBOS-loading">Loading...</div>
    }
    else
    {
        <div class="WMBOS-loading">@BlazorOverlayScrollbarsLoading</div>
    }
</div>

@code {
    [Parameter]
    public RenderFragment BlazorOverlayScrollbarsContent { get; set; }

    [Parameter]
    public RenderFragment BlazorOverlayScrollbarsLoading { get; set; }

    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public WMBOSConfigurations Configurations { get; set; } = null;

    [Inject]
    protected IWMBOS TheWMBOS { get; set; } 

    ElementReference WMBOSReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (Configurations == null) {
                Configurations = new WMBOSConfigurations();
            }
            
            await TheWMBOS.Init(WMBOSReference, Configurations);
        }
    }

}