<div class="WMBOS loading">
    <div @ref="WMBOSReference" class="WMBOS-content @CssClass" data-reference-id="@ReferenceId">
        @BlazorOverlayScrollbarsContent
    </div>
    @if (BlazorOverlayScrollbarsLoading == null)
    {
        <div class="WMBOS-loading">Loading...</div>
    }
    else
    {
        <div class="WMBOS-loading">@BlazorOverlayScrollbarsLoading</div>
    }
</div>

@implements IDisposable

@code {
    [Parameter]
    public RenderFragment BlazorOverlayScrollbarsContent { get; set; }

    [Parameter]
    public RenderFragment BlazorOverlayScrollbarsLoading { get; set; }

    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public WMBOSConfigurations Configurations { get; set; } = null;

    [Parameter]
    public string ProjectName { get; set; }

    [Parameter]
    public string CallbackOnInitialized { get; set; }

    [Inject]
    protected IWMBOS TheWMBOS { get; set; } 

    ElementReference WMBOSReference;
    public Dictionary<string, string> Callbacks;
    private string ReferenceId;

    protected override void OnInitialized()
    {
        ReferenceId = GenerateID();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (Configurations == null) {
                Configurations = new WMBOSConfigurations();
            }

            Callbacks = new Dictionary<string, string>();
                Callbacks["projectName"] = ProjectName;
                Callbacks["onInitialized"] = CallbackOnInitialized;
            
            await TheWMBOS.Init(WMBOSReference, Configurations, Callbacks);
        }
    }

    public void Dispose()
    {
        TheWMBOS.Destroy(ReferenceId);
    }

    private string GenerateID()
    {
        return Guid.NewGuid().ToString("N");
    }

    public async Task Destroy()
    {
        await TheWMBOS.Destroy(ReferenceId);
    }

    public async Task Constroy()
    {
       await TheWMBOS.Init(WMBOSReference, Configurations, Callbacks);
    }

    public async Task Update(bool force = false)
    {
       await TheWMBOS.Update(ReferenceId, force);
    }

    public async Task Scroll(string x = "0", string y = "0", int duration = 1000)
    {
       await TheWMBOS.Scroll(ReferenceId, x, y, duration);
    }

    public async Task Scroll(int x = 0, int y = 0, int duration = 1000)
    {
       await TheWMBOS.Scroll(ReferenceId, x, y, duration);
    }

    public async Task Sleep()
    {
       await TheWMBOS.Sleep(ReferenceId);
    }

    public async Task ScrollStop()
    {
       await TheWMBOS.ScrollStop(ReferenceId);
    }
}