@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main">
        <BlazorOverlayScrollbars Configurations="configurations">
            <BlazorOverlayScrollbarsContent>
                <div class="top-row px-4">
                    <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
                </div>
                <div class="content px-4">
                    @Body
                </div>
            </BlazorOverlayScrollbarsContent>
            <BlazorOverlayScrollbarsLoading>
                <b>Carregando...</b>
            </BlazorOverlayScrollbarsLoading>
        </BlazorOverlayScrollbars>
    </div>
</div>

@code {
    public WMBOSConfigurations configurations;

    protected override void OnInitialized()
    {
        configurations = new WMBOSConfigurations {
            className = "os-my-custom-template",
            themePath = "css/os-my-custom-template.css"
        };
    }
}
