@page "/basic"

<div>

    <h1>Basic Usage Demo</h1>

    <br><hr><br>

    <h3>Html Content</h3>
    <BlazorOverlayScrollbars>
        <BlazorOverlayScrollbarsContent>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cupiditate earum quia consequatur, minus facere, sit, illum ad nesciunt unde dolorum eveniet molestiae molestias dolore a commodi possimus magnam debitis quisquam rem nostrum cumque labore saepe! Quae voluptatibus, saepe eligendi similique dolorum minus ea ipsum vel, aliquam aperiam quam porro a, perspiciatis velit nam necessitatibus! Ullam reiciendis asperiores omnis, quis, dignissimos provident incidunt aut, saepe vitae sit optio! Obcaecati esse est ratione temporibus dicta blanditiis fuga quibusdam asperiores accusantium ullam mollitia tempora, aliquam quae doloribus, pariatur vitae magni dolor, quia molestias expedita. Blanditiis suscipit repudiandae ad velit unde, eum dicta!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cupiditate earum quia consequatur, minus facere, sit, illum ad nesciunt unde dolorum eveniet molestiae molestias dolore a commodi possimus magnam debitis quisquam rem nostrum cumque labore saepe! Quae voluptatibus, saepe eligendi similique dolorum minus ea ipsum vel, aliquam aperiam quam porro a, perspiciatis velit nam necessitatibus! Ullam reiciendis asperiores omnis, quis, dignissimos provident incidunt aut, saepe vitae sit optio! Obcaecati esse est ratione temporibus dicta blanditiis fuga quibusdam asperiores accusantium ullam mollitia tempora, aliquam quae doloribus, pariatur vitae magni dolor, quia molestias expedita. Blanditiis suscipit repudiandae ad velit unde, eum dicta!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cupiditate earum quia consequatur, minus facere, sit, illum ad nesciunt unde dolorum eveniet molestiae molestias dolore a commodi possimus magnam debitis quisquam rem nostrum cumque labore saepe! Quae voluptatibus, saepe eligendi similique dolorum minus ea ipsum vel, aliquam aperiam quam porro a, perspiciatis velit nam necessitatibus! Ullam reiciendis asperiores omnis, quis, dignissimos provident incidunt aut, saepe vitae sit optio! Obcaecati esse est ratione temporibus dicta blanditiis fuga quibusdam asperiores accusantium ullam mollitia tempora, aliquam quae doloribus, pariatur vitae magni dolor, quia molestias expedita. Blanditiis suscipit repudiandae ad velit unde, eum dicta!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cupiditate earum quia consequatur, minus facere, sit, illum ad nesciunt unde dolorum eveniet molestiae molestias dolore a commodi possimus magnam debitis quisquam rem nostrum cumque labore saepe! Quae voluptatibus, saepe eligendi similique dolorum minus ea ipsum vel, aliquam aperiam quam porro a, perspiciatis velit nam necessitatibus! Ullam reiciendis asperiores omnis, quis, dignissimos provident incidunt aut, saepe vitae sit optio! Obcaecati esse est ratione temporibus dicta blanditiis fuga quibusdam asperiores accusantium ullam mollitia tempora, aliquam quae doloribus, pariatur vitae magni dolor, quia molestias expedita. Blanditiis suscipit repudiandae ad velit unde, eum dicta!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cupiditate earum quia consequatur, minus facere, sit, illum ad nesciunt unde dolorum eveniet molestiae molestias dolore a commodi possimus magnam debitis quisquam rem nostrum cumque labore saepe! Quae voluptatibus, saepe eligendi similique dolorum minus ea ipsum vel, aliquam aperiam quam porro a, perspiciatis velit nam necessitatibus! Ullam reiciendis asperiores omnis, quis, dignissimos provident incidunt aut, saepe vitae sit optio! Obcaecati esse est ratione temporibus dicta blanditiis fuga quibusdam asperiores accusantium ullam mollitia tempora, aliquam quae doloribus, pariatur vitae magni dolor, quia molestias expedita. Blanditiis suscipit repudiandae ad velit unde, eum dicta!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cupiditate earum quia consequatur, minus facere, sit, illum ad nesciunt unde dolorum eveniet molestiae molestias dolore a commodi possimus magnam debitis quisquam rem nostrum cumque labore saepe! Quae voluptatibus, saepe eligendi similique dolorum minus ea ipsum vel, aliquam aperiam quam porro a, perspiciatis velit nam necessitatibus! Ullam reiciendis asperiores omnis, quis, dignissimos provident incidunt aut, saepe vitae sit optio! Obcaecati esse est ratione temporibus dicta blanditiis fuga quibusdam asperiores accusantium ullam mollitia tempora, aliquam quae doloribus, pariatur vitae magni dolor, quia molestias expedita. Blanditiis suscipit repudiandae ad velit unde, eum dicta!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cupiditate earum quia consequatur, minus facere, sit, illum ad nesciunt unde dolorum eveniet molestiae molestias dolore a commodi possimus magnam debitis quisquam rem nostrum cumque labore saepe! Quae voluptatibus, saepe eligendi similique dolorum minus ea ipsum vel, aliquam aperiam quam porro a, perspiciatis velit nam necessitatibus! Ullam reiciendis asperiores omnis, quis, dignissimos provident incidunt aut, saepe vitae sit optio! Obcaecati esse est ratione temporibus dicta blanditiis fuga quibusdam asperiores accusantium ullam mollitia tempora, aliquam quae doloribus, pariatur vitae magni dolor, quia molestias expedita. Blanditiis suscipit repudiandae ad velit unde, eum dicta!</p>
        </BlazorOverlayScrollbarsContent>
        <BlazorOverlayScrollbarsLoading>
            <b>Carregando...</b>
        </BlazorOverlayScrollbarsLoading>
    </BlazorOverlayScrollbars>

    <br><hr><br>

    <h3>TextArea</h3>
    <BlazorOverlayScrollbars>
        <BlazorOverlayScrollbarsContent>
            <textarea class="form-control"></textarea>
        </BlazorOverlayScrollbarsContent>
        <BlazorOverlayScrollbarsLoading>
            <b>Carregando...</b>
        </BlazorOverlayScrollbarsLoading>
    </BlazorOverlayScrollbars>

    <br><hr><br>

    <h3>Iframe</h3>
    <BlazorOverlayScrollbars>
        <BlazorOverlayScrollbarsContent>
            <iframe src="iframe-sample.html"></iframe>
        </BlazorOverlayScrollbarsContent>
        <BlazorOverlayScrollbarsLoading>
            <b>Carregando...</b>
        </BlazorOverlayScrollbarsLoading>
    </BlazorOverlayScrollbars>

    <br><br><br>

</div>
