@page "/"

<div>

    <h1>Blazor Overlay Scrollbars Demo</h1>
    <p>A Blazor scrollbar component which hides native scrollbars, provides custom styleable overlay scrollbars and keeps the native functionality and feeling.</p>

    <hr>

    <h2>Documentation</h2>
    <p>
        <a href="https://github.com/welisonmenezes/wm-blazor-overlay-scrollbars" target="_blank" title="Blazor Overlay Scrollbars Documentation">
            https://github.com/welisonmenezes/wm-blazor-overlay-scrollbars
        </a>
    </p>

    <h2>Nuget Package</h2>
    <p>
        <a href="https://www.nuget.org/packages/WMBlazorSlickCarousel/" target="_blank" title="Blazor Overlay Scrollbars Nuget Package">
            https://www.nuget.org/packages/WMBlazorSlickCarousel/#
        </a>
    </p>

</div>
