@page "/"

<div>

    <h1>Blazor Overlay Scrollbars Demo</h1>
    <p>A Blazor scrollbar component which hides native scrollbars, provides custom styleable overlay scrollbars and keeps the native functionality and feeling.</p>

</div>
