@page "/themes"

<div>

    <h1>Themes Demo</h1>

    <br><hr><br>

    <BlazorOverlayScrollbars Configurations="configSampleOne">
        <BlazorOverlayScrollbarsContent>
            <div style="min-width: 2000px;">
                <h2>Custom Template Sample</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
            </div>
        </BlazorOverlayScrollbarsContent>
    </BlazorOverlayScrollbars>

    <br><hr><br>

    <BlazorOverlayScrollbars Configurations="configSampleTwo">
        <BlazorOverlayScrollbarsContent>
            <div style="min-width: 2000px;">
                <h2><code>os-theme-thick-dark</code> Sample</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
            </div>
        </BlazorOverlayScrollbarsContent>
    </BlazorOverlayScrollbars>

    <br><hr><br>

    <div style="padding: 5px; border-radius: 4px; background:#375B8A; max-width: 600px;">
        <BlazorOverlayScrollbars Configurations="configSampleThree">
            <BlazorOverlayScrollbarsContent>
                <div style="min-width: 2000px;">
                    <h2><code>os-theme-thin-light</code> Sample</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                </div>
            </BlazorOverlayScrollbarsContent>
        </BlazorOverlayScrollbars>
    </div>

    <br><hr><br>

    <BlazorOverlayScrollbars Configurations="configSampleFour">
        <BlazorOverlayScrollbarsContent>
            <div style="min-width: 2000px;">
                <h2><code>os-theme-round-dark</code> Sample</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
            </div>
        </BlazorOverlayScrollbarsContent>
    </BlazorOverlayScrollbars>

    <br><hr><br>

    <BlazorOverlayScrollbars Configurations="configSampleFive">
        <BlazorOverlayScrollbarsContent>
            <div style="min-width: 2000px;">
                <h2><code>os-theme-block-dark</code> Sample</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
            </div>
        </BlazorOverlayScrollbarsContent>
    </BlazorOverlayScrollbars>

    <br><hr><br>

    <div style="padding: 5px; border-radius: 4px; background:#375B8A; max-width: 600px;">
        <BlazorOverlayScrollbars Configurations="configSampleSix">
            <BlazorOverlayScrollbarsContent>
                <div style="min-width: 2000px;">
                    <h2><code>os-theme-minimal-light</code> Sample</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                </div>
            </BlazorOverlayScrollbarsContent>
        </BlazorOverlayScrollbars>
    </div>

    <br><br><br>

</div>

@code {
    public WMBOSConfigurations configSampleOne;
    public WMBOSConfigurations configSampleTwo;
    public WMBOSConfigurations configSampleThree;
    public WMBOSConfigurations configSampleFour;
    public WMBOSConfigurations configSampleFive;
    public WMBOSConfigurations configSampleSix;

    protected override void OnInitialized()
    {
        configSampleOne = new WMBOSConfigurations {
            className = "os-my-custom-template",
            themePath = "css/os-my-custom-template.css",
        };

        configSampleTwo = new WMBOSConfigurations {
            className = "os-theme-thick-dark"
        };

        configSampleThree = new WMBOSConfigurations {
            className = "os-theme-thin-light"
        };

        configSampleFour = new WMBOSConfigurations {
            className = "os-theme-round-dark"
        };

        configSampleFive = new WMBOSConfigurations {
            className = "os-theme-block-dark"
        };

        configSampleSix = new WMBOSConfigurations {
            className = "os-theme-minimal-light"
        };
    }
}